<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <title>Store Management System</title>
  <script src="./index.js"></script>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-center">Store Management System</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <button type="button" id="add-customer" class="btn btn-lg btn-default btn-block">
          <p>Add Customer</p>
        </button>
        <button type="button" id="edit-customer"class="btn btn-lg btn-block btn-default">
          <p>Edit Customer</p>
        </button>
        <button type="button" id="add-item" class="btn btn-block btn-lg btn-default">
          <p>Add Item</p>
        </button>
        <button type="button" id="edit-item" class="btn btn-lg btn-block btn-default">
          <p>Edit Item</p>
        </button>
        <button type="button" id="view-item" class="btn btn-lg btn-block btn-default">
          <p>View Item</p>
        </button>
        <button type="button" id="create-order" class="btn btn-lg btn-default btn-block">
          <p>Create Order</p>
        </button>
        <button type="button" id="view-order" class="btn btn-lg btn-block btn-default">
          View Order</p>
        </button>
      </div>
      <div class="col-md-8">
        <p>
          Current Mode: Edit
        </p>
        <p class="text-center text-muted lead">-------------Edit Item-------------</p>
        <div class="col-md-6">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for..." aria-label="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-secondary" type="button">Go!</button>
            </span>
          </div>
        </div>
        <div class="col-md-6"></div>
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th>Quantity</th>
              <th>Item Name</th>
              <th>Item ID</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input type="radio"/></td>
              <td>10</td>
              <td>Apple</td>
              <td>01042012</td>
              <td>$0.98</td>
            </tr>
            <tr>
              <td><input type="radio"/></td>
              <td>5</td>
              <td>Pears</td>
              <td>01042052</td>
              <td>$0.93</td>
            </tr>
            <tr>
              <td><input type="radio"/></td>
              <td>20</td>
              <td>Watermelon</td>
              <td>02042512</td>
              <td>$3.00</td>
            </tr>
            <tr>
              <td><input type="radio"/></td>
              <td>10</td>
              <td>Starberry cases</td>
              <td>03047012</td>
              <td>$3.25</td>
            </tr>
            <tr>
              <td><input type="radio"/></td>
              <td>1</td>
              <td>Orange</td>
              <td>08043082</td>
              <td>$.87</td>
            </tr>
          </tbody>
        </table>
        <button type="button" class="btn btn-lg btn-block btn-default">
          <p>Check Out Order</p>
        </button>
      </div>
    </div>
  </div>
  </div>
</body>
</html>
